<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            Contact me at
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        <ul class="contact-list">
          <li>Full Curriculum Vitae</li>
          <li><a href="https://gino.media/cv" target="_blank">gino.media/cv</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

    {%- if page.title == "Gino Araullo" -%}
    <h2 class="footer-heading footer-heading-grey">
    {%- else -%}
    <h2 class="footer-heading">
    {%- endif -%}
      Copyright &copy; Gino Araullo 2024 | All Rights Reserved.
    </h2>

  </div>

</footer>
