// Customize some defaults
$primary: #76b662;
$secondary: #1f3236;
$warning: #B28441;
$danger: #b33f47;
$body-color: #333;
$body-bg: #e8e8e8;
$body-bg-dark: #292929;
$body-bg-grey: #404040;
$accent-gray: #898989;
$border-radius: .4rem;
$success: #7952b3;
$text-muted: #7f7f7f;