.bento {
  background-color: $primary;
  padding: 0.5em 1em;
  border-radius: 8px;
  color: $body-bg-dark;
  h4 {
    margin-bottom: 0.2em;
    font-weight: 500;
  }
  h2 {
    font-size: 2.25em;
    font-weight: 600;
    margin-top: 0.1em;
    margin-bottom: 0;
  }
  &--danger {
    background-color: $danger;
    color: #fff;
    margin: 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}