@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Lexend Deca';
    font-weight: 300;
    color: #C0C4D7;
    background-color: #0E1223;
}

h1 {
    font-family: 'Lexend Deca';
    font-weight: 500;
}